
h1, h2, h3, h4, h5, h6 {
    color: #25191b
}


.pretty_container {
  border-radius: 5px;
  background-color: #F8F9FA;
  margin: 10px;
  padding: 30px;
  position: relative;
  box-shadow: 2px 2px 2px lightgrey;
  width: 80%; 
 
}
.outer_container{
margin: auto;
    width: 90%;
}
.label{
  margin: 0px;
  padding: 10px;
  padding-bottom: 10px;
  margin-bottom: 0px;
  width: calc(100%-40px);
}

.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    background-color: #f3f3f3;
}
.styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}
.styled-table th,
.styled-table td {
    padding: 12px 15px;
}
.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

